     .dashboard-date-range {
                display: none;
                padding-top: -1px;
                margin-right: 0px;
                margin-top: -8px;
                padding: 10px;
                padding-bottom: 8px;
                cursor: pointer;
                /*    color: #fff;
                    background-color: #e02222;*/

                color: #333;
                background-color: #e5e5e5;
                padding-top: 8px;
                font-size:14px;
            }
            .label-grey{
                display:inline-block;
                background-color:#eee;
                color:#444;
                padding: 2px 4px;
                line-height: 15px;
                text-shadow:none;
                font-weight:600;
            }
            .dashboard-date-range:hover{
                background-color: #d8d8d8;
            }

            .portlet.calendar .fc-header-title h2 {
                font-size: 18px !important;
                color: #222 !important;
            }
            .tooltips,.portlet.calendar .fc-event-title
            {         display: inline-block !important;

            }
            .tooltip-inner {
                max-width: 250px;
                text-align: left;
            }
            .dashboard-stat .visual {
                width: 22px;
            }
            .dashboard-stat .visual i {
                font-size: 30px;
            }
            .fc-event-inner{
                overflow:inherit;

            }
            .fc-event-time{
                display: none;
            }
            .cm_info select{
                width: auto!important;
                height: 25px;
                line-height: 25px;
                margin-bottom: 2px;
                padding:2px!important;
            }
            .btn_cm_action{
                margin-top: -4px!important;
                margin-left: 5px;
            }
            .cm_info *,.cm_info .table thead tr th{
                font-size: 10px;
            }
            .cm_info .table thead tr th,.cm_info .table td{
                padding: 3px !important;
            }

