/***
Profile Page
***/
.profile {
  position:relative;
}

.profile p {
  color:#636363;
  font-size:13px;
}

.profile p a {
  color:#169ef4;
}

.profile label {
  margin-top:10px;
}

.profile label:first-child {
  margin-top:0;
}

/*profile info*/
.profile-classic .span2 {
  position:relative;
}

.profile-classic .span2 a.prifile_anchor {
  top:0;
  right:0;
  margin:0;
  color:#fff;
  opacity:0.6;
  padding:0 9px;
  font-size:11px;
  background:#000;
  position:absolute;
  filter:alpha(opacity=60); /*for ie*/
}
.profile-classic .span2 img {
  margin-bottom:15px;
}

.profile-classic li.profile_list {
  padding:8px 0;
  font-size:13px;
  border-top:solid 1px #f5f5f5;
}

.profile-classic li:first-child {
  border-top:none;
}

.profile-classic li span {
  color:#666;
  font-size:13px;
  margin-right:7px;
}

/*profile tabs*/
.profile .tabbable-custom-profile .nav-tabs > li > a {
  padding:6px 12px;
}


/*profile navigation*/
.profile ul.profile-nav {
  margin-bottom:30px;
}
.profile ul.profile-nav-modified {
  
}
.profile ul.profile-nav li {
  position:relative;
}
.profile ul.profile-nav-modified li {
  position:relative;
}
.profile ul.profile-nav li a {
  color:#557386;
  display:block;
  font-size:14px;
  padding:8px 10px;
  margin-bottom:1px;
  background:#f0f6fa;
  border-left:solid 2px #c4d5df;
}

.profile ul.profile-nav li a:hover {
  color:#169ef4;
  background:#ecf5fb;
  text-decoration:none;
  border-left:solid 2px #169ef4;
}

.profile ul.profile-nav li a.profile-edit {
  top:0;
  right:0;
  margin:0;
  color:#fff;
  opacity:0.6;
  border:none;
  padding:0 9px;
  font-size:11px;
  background:#000;
  position:absolute;
  filter:alpha(opacity=60); /*for ie*/
}
.profile ul.profile-nav-modified li a.profile-edit {
  top:0;
  right:0;
  margin:0;
  color:#fff;
  opacity:0.6;
  border:none;
  padding:0 9px;
  font-size:11px;
  background:#000;
  position:absolute;
  filter:alpha(opacity=60); /*for ie*/
}

.profile ul.profile-nav-modified li a.profile-edit:hover {
  text-decoration:underline;
}
.profile ul.profile-nav li a.profile-edit:hover {
  text-decoration:underline;
}
.profile ul.profile-nav a span {
  top:0;
  right:0;
  color:#fff;
  font-size:20px; 
  padding:8px 13px;
  position:absolute;
  background:#169ef4;
}

.profile ul.profile-nav a:hover span {
  background:#0b94ea;
}

/*profile information*/
.profile-info h1 {
  color:#383839;
  font-size:24px;
  font-weight:400;
  margin:-11px 0 10px 0;
}

.profile-info ul {
  margin-bottom:15px;
}

.profile-info li {
  color:#6b6b6b;
  font-size:13px;
  margin-right:15px;
  margin-bottom:5px;
  padding:0 !important;
}

.profile-info li i {
  color:#169ef4;
  font-size:15px;
}

/*.profile-info li:hover i {
  color:#169ef4;
}*/

/*profile sales summary*/
.sale-summary ul {
  margin-top:-12px;
}
.sale-summary li {
  padding:10px 0;
  overflow:hidden;
  border-top:solid 1px #eee;
}

.sale-summary li:first-child {
  border-top:none;
}

.sale-summary li .sale-info {
  float:left;
  color:#646464;
  font-size:14px;
  text-transform:uppercase;
}

.sale-summary li .sale-num {
  float:right;
  color:#169ef4;
  font-size:20px;
  font-weight:300;
}

.sale-summary li span i {
  top:1px;
  width:13px;
  height:14px;
  margin-left:3px;
  position:relative;
  display:inline-block;
}

.sale-summary li i.icon-img-up {
  background:url(../../img/icon-img-up.png) no-repeat !important;
}

.sale-summary li i.icon-img-down {
  background:url(../../img/icon-img-down.png) no-repeat !important;
}

.sale-summary .portlet-title h4 {
  color:#383839;
  font-size:18px;
}

.sale-summary .portlet-title {
  border-color:#c9c9c9;
}

/*latest customers table*/
/*.profile .table-advance thead tr th {
  background:#f0f6fa;
}*/

.profile .table-bordered th, 
.profile .table-bordered td,
.profile .table-bordered {
  border-color:#e5eff6;
}

.profile .table-striped tbody > tr:nth-child(2n+1) > td, 
.profile .table-striped tbody > tr:nth-child(2n+1) > th {
  background:#fcfcfc;
}

.profile .table-hover tbody tr:hover td, 
.profile .table-hover tbody tr:hover th {
  background:#f5fafd;
}

/*add portfolio*/
.add-portfolio {
  overflow:hidden;
  margin-bottom:30px;
  background:#f0f6fa;
}

.add-portfolio .pull-left,
.add-portfolio .pull-right {
  padding:12px 14px;
}

.add-portfolio .pull-left {
  color:#555d69;
  font-size:20px;
}

.add-portfolio .pull-left span {
  top:8px;
  position:relative;
}

.add-portfolio .pull-right i {
  margin-left:5px;
}

/*portfolio block*/
.portfolio-block {
  background:#f7f7f7;
  margin-bottom:15px;
}

.portfolio-block .span5 {
  overflow:hidden;
}

/*portfolio text*/
.portfolio-text {
  overflow:hidden;
}

.portfolio-text h4 {
}

.portfolio-text img {
  float:left;
  margin-right:15px;
}

.portfolio-text .portfolio-text-info {
  overflow:hidden;
}

/*portfolio button*/
.portfolio-btn a {
  display:block;
  padding:28px 0;
  background:#ddd !important;
}

.portfolio-btn a:hover {
  background:#1d943b !important;
}

.portfolio-btn span {
  color:#fff;
  font-size:22px;
  font-weight:200;  
}

/*portfolio info*/
.portfolio-info {
  float:left;
  color:#616161;
  font-size:12px;
  padding:12px 25px;
  margin-bottom:5px;
  text-transform:uppercase;
}

.portfolio-info span {
  color:#16a1f2;
  display:block;
  font-size:14px;
  margin-top:5px;
  font-weight:200;
  text-transform:uppercase;
}

/*portfolio settings*/
.profile-settings {
  background:#fafafa;
  padding:15px 8px 0;
  margin-bottom:5px;
}

.profile-settings p {
  padding-left:5px;
  margin-bottom:3px;
}

.profile-settings .controls > .radio, 
.profile-settings .controls > .checkbox {
  font-size:12px;
  margin-top:2px !important;
}
.edit_profile_personel{display: block;}
.client-list{color: #16a1f2;
font-size: 15px;}
.client-list li {
color: #6b6b6b;
font-size: 13px;
margin-right: 15px;
margin-bottom: 5px;
padding: 0 !important;
}
.client-list li i{color: #16a1f2;}

.profile-info ul.chzn-choices li.search-choice{
    padding: 3px 20px 3px 5px !important;
    margin-bottom:0px !important;
}
.profile-info ul.chzn-results li{
    padding: 3px 20px 3px 5px !important;    
}
.public_hide{
    color:#9C9C9C;
    text-decoration: italic;
}
.profile-info .hero li{
    margin-right: 3px;
}
.view_profile_personel{
    display:block;
}

button.edit_profile_personal_btn_cancel{
    margin-right:5px;
}
.coach_profile_personal_form,#coach_profile_personal_form{
    display:block;
}

.profile_certificate_single .btn:hover{
    background: #0362fd!important;
    color:#fff;
}
.title_top{margin-top:-5px}
/*  */

#preview{
        width: 150px;
	position:absolute;
	border:1px solid #ccc;
	background:#f1f1f1;
	padding:5px;        
	display:none;
	color:#333;
        z-index: 99999;
	}
        .map_containet{
    padding:5px;
    border:1px #eee solid;
    width: auto;
    display: inline-block;
}
.map img{
    max-width: initial;
}

.client-list{color: #16a1f2;
font-size: 15px;}
.client-list li {
color: #6b6b6b;
font-size: 13px;
margin-right: 15px;
margin-bottom: 0px;
padding: 0 !important;
}
.client-list li i{color: #16a1f2;}

/*  */