/* CSS Document */
#tc_ongoing h5 i,#tc_completed h5 i,#tc_clients_model h5 i,#tc_done_clients_model h5 i{
color: #16a1f2;
}
.reminder .controls
{
	margin-top:10px;
}
.rem_container .help-inline
{
	display:none !important;
	padding-left:0px !important;
}
.circle-stat
{
	border:1px solid #eee;
	border-radius:5px;
	
}
.circle-stat .details {
display: block;
float: none !important;
text-align: center;
margin:0px;
padding:0px;
}
.circle-stat .details .title
{
margin-top:3px !important;	
}
.apnt_blocks
{
	margin-left:10px;
}
.apnt_blocks .first,.apnt_blocks .last
{
	margin-top:7px;
}
.circle-stat:hover,.circle-stat.active {
/*background-color: #edf4f7;*/
background-color: #DCEFF7;
}
.tp-leftarrow {
background: #d2d7dc url(../../img/arrow_left.png) no-repeat center !important;
width: 35px !important;
height: 40px !important;
}
.tp-rightarrow {
background: #d2d7dc url(../../img/arrow_right.png) no-repeat center !important;
width: 35px !important;
height: 40px !important;
cursor:default;
}
.tp-leftarrow.default:hover, .tp-rightarrow.default:hover {
background-color: #0da3e2 !important;
cursor:pointer;
}
.tp-rightarrow.inactive,.tp-rightarrow.inactive:hover {
background: #d2d7dc !important;
cursor:default;
}

