.db_hint{

    width: 100%;
    width: calc(100% - 2px);
}
.db_hint ul{
    margin: 0px;
    padding: 0px;
    top:0px;
    width:100%;
    background: #fff;
    border: 1px solid #ccc;

}
.db_hint ul li{
    margin: 0px;
    display: block;
}
.db_hint ul li:nth-of-type(2){
    background: #f5f5f5;
}
.db_hint ul li:hover{
    background: #0F4E74;
}
.db_hint ul li:hover a{
    color:#fff;
}
.db_hint ul li.active{
    background: #0F4E74;
}
.db_hint ul li.active a{
    color:#fff;
}
.db_hint ul li a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #555;
    cursor: pointer;
}
.db_hint value{
    display: none;
}


.carousel a.carousel-control.left{left:-0px; width:15px; height:22px;line-height: 12px; font-size:37px; top:50%;}
.carousel a.carousel-control.right{right:-0px; width:15px; height:22px;line-height: 12px; font-size:37px; top:50%;}
.glyphicons i.red:before{
    top:14px;
    color:#e02222;
}



.dbbox {
    background-color: #fff;;
    z-index: 2;
    position: relative;
    -webkit-box-shadow: 0 1px 5px black, 0 0 50px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 5px black, 0 0 50px rgba(0, 0, 0, 0.1) inset;
    border-radius: 0;
    margin-bottom: 5px;
}

.preview {
    z-index: 2;
    position: relative;
    cursor: pointer;
    margin-bottom:20px;
}
.preview:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 18px;
    left: 10px;
    width: 50%;
    height: 20%;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg) skew(0deg);
    -moz-transform: rotate(-3deg) skew(0deg);
    -ms-transform: rotate(-3deg) skew(0deg);
    -o-transform: rotate(-3deg) skew(0deg);
    transform: rotate(-3deg) skew(0deg);
}
.preview:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 18px;
    right: 10px;
    width: 50%;
    height: 20%;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(3deg) skew(0deg);
    -moz-transform: rotate(3deg) skew(0deg);
    -ms-transform: rotate(3deg) skew(0deg);
    -o-transform: rotate(3deg) skew(0deg);
    transform: rotate(3deg) skew(0deg);
}