<div class="writerboard">
    <div class="boardheader">
        Top Writerz
        <a href="https://footyfanz.com/articles/topwriters/1/0">More</a>
    </div>
    <table class="table postable" style="margin-bottom: 0;">
        <tbody><tr>
            <th>Pos</th>
            <th>Writers</th>
            <th>Pts</th>
        </tr>
         
            <tr>
                <td>1 <span class="symbolup"><i class="fa fa-sort-up"></i></span></td>
                <td style=""><a href="https://footyfanz.com/articles/listing/calebwhyte">Caleb Whyte <span class="boarduser"><img src="https://footyfanz.com/public/images/profile/1082_1507642682.jpg"></span></a></td>
                <td>87</td>
            </tr>
             
            <tr>
                <td>2 <span class="symbolup"><i class="fa fa-sort-up"></i></span></td>
                <td style=""><a href="https://footyfanz.com/articles/listing/damendra"> adigun <span class="boarduser"><img src="https://footyfanz.com/public/images/profile/1091_1500654519.jpg"></span></a></td>
                <td>85</td>
            </tr>
             
            <tr>
                <td>3 <span class="symbolup"><i class="fa fa-sort-up"></i></span></td>
                <td style=""><a href="https://footyfanz.com/articles/listing/pappy-omada">PAPPY OMADA <span class="boarduser"><img src="https://footyfanz.com/public/images/profile/23615_1509447846.jpg"></span></a></td>
                <td>84</td>
            </tr>
             
            <tr>
                <td>4 <span class="symbolup"><i class="fa fa-sort-up"></i></span></td>
                <td style=""><a href="https://footyfanz.com/articles/listing/emeka"> emeka <span class="boarduser"><img src="https://footyfanz.com/public/images/profile/1108_1507637418.jpg"></span></a></td>
                <td>80</td>
            </tr>
             
            <tr>
                <td>5 <span class="symbolup"><i class="fa fa-sort-up"></i></span></td>
                <td style=""><a href="https://footyfanz.com/articles/listing/akinsola">Akinsola Lemboye <span class="boarduser"><img src="https://footyfanz.com/public/images/profile/1070_1511244095.jpg"></span></a></td>
                <td>77</td>
            </tr>
             
            <tr>
                <td>6 <span class="symbolup"><i class="fa fa-sort-up"></i></span></td>
                <td style=""><a href="https://footyfanz.com/articles/listing/flexible">shileola ibrahim <span class="boarduser"><img src="https://footyfanz.com/public/images/profile/1032_1513507331.jpg"></span></a></td>
                <td>72</td>
            </tr>
             
            <tr>
                <td>7 <span class="symbolup"><i class="fa fa-sort-up"></i></span></td>
                <td style=""><a href="https://footyfanz.com/articles/listing/seasy90">Babatunde  <span class="boarduser"><img src="https://footyfanz.com/public/images/profile/23576_1508313756.jpg"></span></a></td>
                <td>57</td>
            </tr>
             
            <tr>
                <td>8 <span class="symbolup"><i class="fa fa-sort-up"></i></span></td>
                <td style=""><a href="https://footyfanz.com/articles/listing/ayomide">Ayomide Adebiyi <span class="boarduser"><img src="https://footyfanz.com/public/images/profile/1093_1507309756.jpg"></span></a></td>
                <td>42</td>
            </tr>
             
            <tr>
                <td>9 <span class="symbolup"><i class="fa fa-sort-up"></i></span></td>
                <td style=""><a href="https://footyfanz.com/articles/listing/alex_proxi">Alex Nwaduba <span class="boarduser"><img src="https://footyfanz.com/public/images/profile/1027_1498875480.jpg"></span></a></td>
                <td>8</td>
            </tr>
             
            <tr>
                <td>10 <span class="symbolup"><i class="fa fa-sort-up"></i></span></td>
                <td style=""><a href="https://footyfanz.com/articles/listing/suskh">segun jacob <span class="boarduser"><img src="https://footyfanz.com/public/fassets/images/user.jpg"></span></a></td>
                <td>7</td>
            </tr>
             
            <tr>
                <td>11 <span class="symbolup"><i class="fa fa-sort-up"></i></span></td>
                <td style=""><a href="https://footyfanz.com/articles/listing/deyinka">Adeyinka oluwaseun  <span class="boarduser"><img src="https://footyfanz.com/public/images/profile/23561_1508140130.jpg"></span></a></td>
                <td>1</td>
            </tr>
             
            <tr>
                <td>12 <span class="symbolup"><i class="fa fa-sort-up"></i></span></td>
                <td style=""><a href="https://footyfanz.com/articles/listing/kontrol">Olaleye Oreoluwa Adedayo  <span class="boarduser"><img src="https://footyfanz.com/public/images/profile/23546_1507303351.jpg"></span></a></td>
                <td>1</td>
            </tr>
             
            <tr>
                <td>13 <span class="symbolup"><i class="fa fa-sort-up"></i></span></td>
                <td style=""><a href="https://footyfanz.com/articles/listing/finest-cent-collins">Cent-COLLINS  <span class="boarduser"><img src="https://footyfanz.com/public/fassets/images/user.jpg"></span></a></td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>