
@media (max-width: 768px){
	.footy-club__carousel {
		height: 180px;
		display: flex;
		justify-content: center;
	}
	.footy-club__carousel > div {
		width: 90%;
	}
	#footy-control__prev {
		position: relative;
		left: -103%;
		top: 50px;
	}
	#footy-control__next {
		position: relative;
		left: 0;
		bottom: 0;
		top: 50px;
	}
	.search form {
		border-radius: 3px;
		background: #fff;
		position: relative;
		overflow: hidden;
		margin-top: 2px;
		width: 220PX;
		margin-left: 0;
	}
	.footy-fanz__remarks > .col-md-4 > .footy-card {
		height: 280px;
		/* margin-bottom: 20px; */
	}
	.footy-card {
		margin-bottom:  20px;
	}
}
@media (max-width: 1024px) {
	.footy-card__heading h3 {
		font-size: 12px;
	}
	.navbar-inverse .navbar-nav > li > a {
		padding: 5px 1px;
		margin: 0;
		line-height: 24px;
		display: inline-block;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: normal;
		color: #ffffff;
	}
	
	
}

@media (max-width: 425px) {
	.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
	}

	.navbar-inverse .navbar-toggle {
	    border-color: transparent;
	}
	
	.navbar-toggle {
	    position: relative;
	    float: left;
	    padding: 9px 10px;
	    margin-top: 8px;
	    margin-right: 15px;
	    margin-bottom: 8px;
	    background-color: transparent;
	    background-image: none;
	    border: 1px solid transparent;
	    border-radius: 4px;
	}
	.mobile_search {
		display: block;
	}
	.mobile_dd {
		display: block;
	}
	.mobile_dd > .dropdown > a {
		clear: both;
	    display: block;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    color: #fff;
	}
	#hide_mobile {
		display: none;
	}
	.dropdown.lastmenu {
    	margin-right: 15px;
	}

	.footy-profile__activity {
	    bottom: -40px;
	}
	.footy-fan__logo > a img {
	    width: 80px;
	    display: block;
	    float: left;
	}
	.footy-ad__space {
		width: 100%;
	}
	.footy-club__carousel {
		display: none;
	}
	.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
	    margin-right: 10px;
 	    margin-bottom: 10px;
	    width: 80%;
	}

	div.content > button { 
	    margin: 10px 0 0 0;
	}
	.advert > .row  > .col-md-4 {
		margin-bottom: 20px;
	}
	#footy-dropdown__menu {
    	left: 0;
	}
	.footy-thumbnail__text {
		margin: 0 0 0 8px;
	}
	.carousel-caption {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 10;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #141e28;
		color: #fff;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0,0,0,.6);
		width: 100%;
		height: 40%;
		top: 60%;
	}
	.footy-carousel__caption--content {
		position: relative;
		top: 0;
	}
	.footy-fanz__remarks > .col-md-4 > .footy-card {
		height: 280px;
		margin-bottom: 20px;
	}
	div.row > div.col-md-6.footy-padding__left--0 {
		padding-left: 15px;
	}
	.footy-followers, .footy-following, .footy-news {
		display: none;
	}
	.footy-post__content {
		width: 210px;
		margin-left: 8px;
		/* margin-right: 18px; */
		float: left;
		margin-bottom: 24px;
	}
	
	.footy-article__img {
    width: 100%;
    height: 148px;
 }
 .footy-article > .row > .col-md-9 {
	margin-left: 15px;
}


.footy-article__headline h3 {
    margin-top:20px;
}
.footy-padding__left--0 {
	padding-left: 15px;
}
.col-md-4.col-sm-4.col-xs-10.footy-margin__left--8, .col-md-1.col-sm-1.footy-margin__left--8 {
	margin-left: unset;
} .footy-bg__img {
	display: none;
}
}
