#footy-body {
  background: #bdbdbd;
}
#footy-body {
  margin: 0;
  overflow-x: hidden;
}
.footy-container {
  background-color: #ffffff;
  border-radius: 4px;
 
}

.footy-padding__top--10 {
  padding-top: 10;
}
.footy-padding__bottom--10 {
  padding-bottom: 10;
}
.footy-padding__top--34 {
  padding-top: 34px;
}

.footy-fan__logo > a img {
  width: 154px;
  display: block;
  float: left;
}
.footy-profile__activity {
  position: absolute;
  left: -170px;
  bottom: 5px
}
.footy-profile__action {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  margin-left: 10px;
}
.footy-profile__action > li {
  display: inline-block;
  position: relative;
}
.footy-profile__action > li > a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 30px;
  height: 30px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 16px;
}
.footy-profile__action > li > a:hover {
  background: #ae1e23;
  color: #fff;
}
.footy-pull__dropdown {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 14px;
  left: -150px;
  width: 300px;
  z-index: 999;
  display: none;
  padding-top: 30px;
}
#footy-dropdown__arrow {
  
  border: 0px;
  position: absolute;
  top: 15px;
  left: 147px;
  left: 51%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #333;
  padding: 0
}
ul.footy-profile__action > li:hover ul.footy-pull__dropdown  {
  display: block;
}
ul.footy-pull__dropdown >li {
  margin: 0;
  padding: 0;
  display: block;
  padding: 6px;
  background: #fff;
  border: 1px solid #eee;
  border-top: 0px;
}
ul.footy-pull__dropdown > li.header {
  padding: 3px 9px;
  background: #333;
  color: #fff;
  margin: 0px;
  border: 0;
}

ul.footy-pull__dropdown > li > a {
  width: 100%;
  display: block;
  background: #fff;
  min-height: 40px;
  clear: both;
  border-radius: 0px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.pd-outer .pd-image {
  width: 40px;
  height: 40px;
  float: left;
}
.pd-outer .pd-image img {
  width: 100%;
}
.pd-outer .pd-content {
  margin-left: 45px;
  text-align: left;
}
.pd-outer .pd-content div {
  color: #666;
  text-align: left;
}
.pd-outer .pd-content div.comdate {
    color: #999;
    font-size: 11px;
    line-height: 10px;
    text-align: right;
}
.footy-notrification__badge {
  display: block;
  width: auto;
  padding: 3px 5px;
  color: #fff;
  background: #dc0808;
  border-radius: 12px;
  line-height: 12px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  left: 18px;
}
.rightman {
  position: relative;
  float: right;
  width: 120px;
  margin-right: 4%;
}
.rightman .manouter {
  border-radius: 50%;
  border: 1px solid #00b2b2;
  overflow: hidden;
}
.rightman .manouter img {
  width: 100%;
}
.rightman .footyouter {
  width: 40%;
  border-radius: 50%;
  border: 1px solid #CCCCCC;
  overflow: hidden;
  position: absolute;
  bottom: 0%;
  right: -15%;
  background: #fff;
  -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.69);
  -moz-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.69);
  box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.69);
}
li.footy-active   {
  border-bottom: 2px solid #fff;
}
.rightman .footyouter .footyinner {
  padding: 5%;
}

.rightman .footyouter img {
  width: 100%;
}
 nav.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #4f4f4f;
  padding: 0px 0;
  padding-bottom: 0;
  border-color: #4f4f4f;
  border:none;
}
.navbar-nav>li {
  margin-right: 7px;
  padding: 12px 2px;
  line-height: 10px;
}
.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  line-height: 24px;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.nav.navbar-nav {
  width: 100%;
}
.navbar-nav>li {
  margin-right: 7px;
  padding: 12px 2px;
  line-height: 10px;
}
.dropdown.lastmenu {
  margin-right: 5px;
  float: right;
}
input.search-form {
  font-size: 13px;
  border: 0 none;
  width: 100%;
  height: 36px;
  padding: 7px 25px 6px 15px;
  color: #555;
}
.search form {
  border-radius: 3px;
  background: #fff;
  position: relative;
  overflow: hidden;
  margin-top: 2px;
  width: 320px;
  margin-left: 80px;
}
 
.search {
    display: inline-block;
}
.search i {
  color: #888;
  position: absolute;
  top: 0px;
  right: 3px;
  cursor: pointer;
  padding: 6px;
  font-size: 24px;
}
#footy-dropdown__menu {
  left: 400px;
}
.navbar-inverse .navbar-nav #dropdown-menu {
  background-color: #4f4f4f;
  -webkit-box-shadow: 0 3px 8px #4f4f4f;
  -moz-box-shadow: 0 3px 8px #4f4f4f;
  box-shadow: 0 3px 8px #4f4f4f;
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: auto;
  right: -20px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
    padding: 8px 15px;
    color: #fff;
    background: #2a2a2a;
}
#footy-profile__dropdown {
  display: block;
  width: 100%;
  text-align: right;
  margin: 13px 0 20px 0;
}
#footy-profile__dropdown a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  text-decoration:none;
  margin: 0 22px 0 0;
}
#footy-profile__dropdown > a > i {
  margin-left:  10px;
}
.footy-club__carousel {
  margin-top: 32px;
  padding: 0 80px
}
.footy-carusel__item {
  width: 100px;
  float: left;
  text-align: center;
  margin-right: 20px;
}
.footy-club__carousel a {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #828282;
  text-decoration: none;
}
.footy-club__items {
  width: 100px;
  height: 62px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  float: left;
}
.footy-club__items  img {
  height: 44px;
}
.footy-club__controls {
  text-decoration: none;
  opacity: 0.54;
  color: #4f4f4f;
}
#footy-control__prev {
  position: relative;
  left: -103%;
  top: 10px;
}
#footy-control__next {
  position: relative;
  left: 14px;
  bottom: 32px;
}
.footy-fanz__section {
  padding: 0 17px;
}
.footy-heading > h1 {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}
.footy-ad__space {
  height: 102px;
  border-radius: 4px;
  background-color: #828282;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:  32px 0 40px 0;
}
.footy-ad__box {
  height: 268px;
  border-radius: 4px;
  background-color: #828282;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
  outline: none ; border-radius: 0; background: #e0e0e0; color: #716d6d ; border-color: transparent;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    /* text-align: left; */
    text-align: center ;
}
div.footy-thumbnail {
  padding:  8px 8px 0 8px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #e0e0e0;

}
div.thumbnail > img.footy-thumbnail__img {
  height: 151px;
  width: 211px;
  border: 1px solid #e0e0e0;
  margin-bottom: 16px;
}
.footy-thumbnail > div.content {
  margin-bottom: 16px;
}
.footy-thumbnail__text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #828282;
  margin: 0 24px 0 8px;
}
div.content > button {
  width: 62px;
  height: 25px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #e0e0e0;
  outline: none;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d9cdb;
}
.footy-margin__top--20 {
  margin-top: 20px;
}
.footy-pagination {
      height: 100px;
    display: flex;
    justify-content: center;
}
.pagination> li >a, .pagination> li >a:focus, .pagination> li >a:hover, .pagination> li >span, .pagination> li >span:focus, .pagination> li >span:hover  {
  color: #141e28;
}
 
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

  background-color: #141e28;
  color: #ffffff;
  border: none;
}
.footy-trending {
  padding: 0 17px;
}
.panel {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #e0e0e0;
  border: solid 1px #bdbdbd;
}
.footy-panel {
  border-radius: 4px;
  background-color: #141e28;
  color: #ffffff;
  text-align: center;
}
.footy-panel > h3 {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.footy-panel__body  {
  padding: 8px;
}
.footy-panel__body > .row {
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}
.footy-panel__img {
  height: 70px;
  border-radius: 4px;
}
.footy-padding__left--right__8 {
  padding-right: 8px;
  padding-left: 8px;
}
.footy-margin__left--right__8 {
  margin:  0 8px;
}
.footy-fill__white {
  background: #ffffff;
}
.footy-margin__0 {
  margin:  0 ;
}
.footy-padding__0 {
  padding: 0 ;
}
.footy-panel__text {
  padding: 7px 0 7px 0;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}
.footy-margin__0 {
  margin:  0;
}
.advert--footer {
  height: 200px;
  border-radius: 4px;
  background-color: #828282;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footy-padd {
  padding:  0 17px;
}
.mobile_search {
  float:left;
  display:none;
  width: 155px;
  margin: 8px 0 10px 0;
}
.mobile_search > .search {
  width: 100%;
}
.mobile_search > .search > form  {
  width: inherit;
  margin-left: 0;
}
.mobile_dd {
  width:90px;
  display:none;
  margin:  15px 0 10px 0;
  float: right;
}
.footy-following {
  margin-top: 10px;
}
.footy-following > .col-md-4 {

  margin-bottom:  10px;
}

.following {
  width: 56px;
}
.footy-padding__bottom--0 {
  padding-bottom: 0 ;
}
.footy-margin__bottom--0 {
  margin-bottom: 0 ;
}
.feedposter {
    background: #f5f5f5;
    padding: 5px;
    position: relative;
}
.postercon {
    height: auto;
    overflow: hidden;
}
.postercon .feeduser {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #e5e5e5;
    position: relative;
}
.feeduser img {
    width: 100%;
}
.postercon .feeduser .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 14px solid #e5e5e5;
    right: -14px;
    top: 10px;
}
.postercon .feeduser .arrow1 {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 13px solid #f5f5f5;
    right: -13px;
    top: 12px;
}
.feedtextcon {
    margin-left: 65px;
}
.feedtextcon textarea {
    border: 1px solid #e5e5e5;
    width: 100%;
    min-height: 70px;
    font-size: 12px;
    color: #666;
    padding: 5px;
    outline: none;
    resize: none;
    overflow: hidden;
    line-height: 17px;
}
.feedposter .line {
    width: 100%;
    background: #eaeaea;
    height: 1px;
    margin-top: 4px;
}
.feedaction {
    margin-top: 4px;
    height: 23px;
}
.feedbutton {
    font-size: 12px;
    color: #777;
    padding: 2px 10px 0px 10px;
    background: #f0f0f0;
    float: left;
    margin-right: 5px;
    border: 1px solid #d5d5d5;
    line-height: 20px;
}
.feedfilename {
    color: #777;
    font-size: 12px;
    padding-top: 0px;
    float: left;
    width: auto;
    margin-left: 2px;
}
.waiting {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.waiting img {
    width: 20px;
    top: 34%;
    left: 45%;
    position: absolute;
}
.footy-margin__bottom--20 {
  margin-bottom: 20px;
}
.footy-post {
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 8px;
  width:  100%;
  height: 220px;
  margin-top: 20px;
}
.footy-post__img {
  width: 124.8px;
    float: left;

}
.footy-post__img img {
  width: 100%;
  height: 166px;
}
.footy-post__content  {
  width: 280px;
  margin-left: 8px;
  /* margin-right: 18px; */
  float: left;
  margin-bottom: 24px;
}
.footy-post__heading h3 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #141e28;
}
.footy-post__content p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #828282;
}
.footy-author__img img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left:  8px;
}
.footy-post__author  {
  width: 109px;
  position: relative;
    left: -24px;
    top: -7px;
    clear: both-block;
}
.footy-post__duration {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(20, 30, 40, 0.6);
}
.footy-attribute  {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(20, 30, 40, 0.7);
}
.footy-comment__like--count {
    position: relative;
    left: 60%;
    width: 150px;
    top: -27px;
}
.footy-like__comment--share {
  background: whitesmoke;
  padding: 8px  8px 8px 8px;
  border-top:  2px solid #99999954;
  border-bottom: 2px solid #99999954;
  margin-left: 20px;
  margin-right: 20px;
 }
.footy-like__comment--share span, .footy-like__comment--share span a  {
  margin-right: 10px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #828282;
}
.footy-background__grey {
  background: whitesmoke;
}
.footy-fan__avatar  img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
#inputComment{
  height: 32px;
  resize: none;
  font-size: 14px;
  line-height: 1;
  /* margin-left: 8px; */
}
.footy-post__comments {
  background: whitesmoke;
  height: 100px;
  padding: 12px;

}
.footy-post__comments > div > div.col-md-11 > form  {
  text-align: right;
}
.footy-post__comments > div > div.col-md-11 > form > button {
  border-radius: 4px; 
  background-color: #f5f5f5;
  border: solid 1px #e0e0e0;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #828282;
  margin-top: 16px;
}
.carousel-caption {
    position: absolute;
    right: 0;
    left: 60%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #141e28;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    width: 40%;
    height: 100%;
    top: 1px;
}
.carousel-inner>.item>img {
    line-height: 1;
    height: 404px;
}
.footy-content__author{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.7);
}
.footy-carousel__caption--content > h3{
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
  margin-bottom:  40px;
  padding-left: 8px;
  padding-right: 20px;
}
.footy-carousel__caption--content {
  position: relative;
  top: 200px;
}
.writerboard {
    background: #4681a0;
    border-radius: 3px;
    min-height: 567px;
    overflow: hidden;
}
.writerboard .boardheader {
    font-size: 20px;
    color: #fff;
    padding: 20px 15px;
    text-align: center
}
.writerboard .boardheader a {
    font-size: 12px;
    /* float: right; */
    padding: 1px 25px;
    /* background: #3db39e; */
    color: #fff;
}
table.table.postable tr th {
    background-color: #141e28;
    color: #fff;
    border: 0px;
    font-size: 12px;
    border-top: 0px;
    text-align: center;
    padding: auto 0;
    height: 36px;
    /* display: flex; */
    /* align-items: center; */
}

table.table.postable tr td {
    background: #538aa7;
    color: #fff;
    border: 0px;
    font-size: 12px;
    border-top: 0px;
    padding: 10px 12px;
    border-right: 2px solid #a9c4d3;
}

table.table.postable tr td span.symbolup {
    float: right;
    display: block;
    width: auto;
    overflow: hidden;
    height: 12px;
}
table.table.postable tr td .fa-sort-up {
    font-size: 24px;
    color: #3db39e;
}
.boarduser img {
    width: 100%;
}
.boarduser {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    display: block;
    float: right;
    margin: -4px 0px;
}
.writerboard table a {
    color: #fff;
}
table.table.postable tr:nth-of-type(2n-1) td {
    background: #427997;
}

table.table.postable tr td:last-child {
    border: 0;
}
table.table.postable tr td {
    background: #538aa7;
    color: #fff;
    border: 0px;
    font-size: 12px;
    border-top: 0px;
    padding: 10px 12px;
    border-right: 2px solid #a9c4d3;
}
.footy-card {
  height: 280px;
  border-radius: 4px;
  background-color: #141e28;
}
.footy-card__img  {
  height:  140px;
  width: 100%;
}
.footy-margin__top {

}
.footy-card__heading h3 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding:  0 40px;
  text-align: center;
  margin:  16px 0;
}
.footy-card__content {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.7);
}
.footy-fanz__pic img {
  width: 50px;
  /* margin-left: 16px; */
}
.footy-padding__16 {
  padding: 16px;
}
.footy-fan__remark {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(242, 242, 242, 0.8);
}
.footy-fan__name {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.footy-margin__top--8 {
  margin-top:  8px;
}
.footy-margin__left--8 {
  margin-left:  8px;
}

.footy-fanz__remarks > .col-md-4 > .footy-card {
  height: 240px;
}
.footy-border__none {
  border: none;
}
iframe {
  width: 100%;
}
.footy-padding__left--0 {
  padding-left: 0;
}
button#previous, #nextPost{
  border-radius: 4px;
  background-color: #141e28;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 7px 15px;
  border: none;
}
button#previous {
  margin-left: 8px;
}
button#nextPost {
  margin-left: 8px;
}
.footy-padding__left--right__0 {
  padding-right: 0;
  padding-left: 0;
}
.footy-prev__post, .footy-next__post {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #828282;
}
.footy-article  {
  background: #e0e0e0;
  padding: 8px;
  margin-top: 20px;
}
.footy-article__img {
  width: 144px;
  height: 148px;
}
.footy-article__headline h3 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  width: 376px;
  letter-spacing: normal;
  color: #141e28;
  /* padding-right: 120px; */
}
.footy-padding__right--0 {
  padding-right: 0;
}
.footy-article > .row > .col-md-9 {
  margin-left: -14px;
}

.footy-article__headline p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(20, 30, 40, 0.8);
  margin-top: 10px;
  margin-right: 9px;
}
.footy-margin__top--32 {
  margin-top: 32px;
}
span > i.fa {
  font-size: 16px;
  margin-right: 3px;
  color: #999;
}
.footy-margin__top--14 {
  margin-top: 14px;
}
.footy-comment__count, .footy-view__count {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(20, 30, 40, 0.7);
  margin-right: 17px;
}
.footy-readmore__link a {
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #47a447;
}
.footy-sign__up--form {
  padding: 54px 0;
}
.footy-sign__up--form  > .footy-fan__logo > img {
  width: 100px;
  margin: 0 auto;
}
.footy-fan__logo {
  margin-bottom: 32px;
}
.footy-sign__up--form__heading > h3 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}
.footy-margin__bottom--32 {
  margin-bottom: 32px;
}
#facebook_sign--up {
  background-color: #405b99;
  border: none;
  color:#ffffff;
}
#twitter_sign--up {
  background-color: #1aa1f1;
  border: none;
  color:#ffffff;
}
#footy-sign__up--button {
  background-color: #ae1e23;
  border: none;
  color: #ffffff;
}
#facebook_sign--up, #twitter_sign--up, form > div.form-group  {
  width: 262px;
  height: 44px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  /* color: #ffffff; */
}
div.form-group {
  margin: 0 auto;
}
.footy-margin__bottom--16 {
  margin-bottom: 16px;
}
.footy-padding__left--right__90 {
  padding-left: 90px;
  padding-right: 90px;
}
div.form-group >  input.form-control {
  margin: 0 auto;
}
div.text-center.text-capitalize span {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #828282;
}
div.text-center.text-capitalize a  {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #47a447;
}
div.footy-fan__testimony {
  width: 100%;
  height: inherit;
  background: #141e28;
  opacity: 0.7;
  position: absolute;
  
}
.footy-bg__img {
  height: 791px;
  background: url('./assets/img/characters/players.jpg');
  position: relative;
}
.testimony-content{
  top: 50%;
  left: 30%;
  /* color: #ffffff; */
  position: absolute;
  width: 349px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.remember-me {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4f4f4f;
  
}
.forgot__password {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #56ccf2;
  margin-left: 34px;
  text-decoration: none;
}
.bootstrap-select>.dropdown-toggle {
  outline: none ;
}
.footy-poll {
  height: 458px;
  border-radius: 4px;
  background-color: #141e28;
  padding: 16px;
}
.footy-poll__title > h4 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e0e0e0;
  margin-bottom: 8px;
}
.footy-poll__title > p {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e0e0e0;
  margin-bottom: 40px;
}
.footy-poll__option > form > button {
  height: 50px;
  border-radius: 4px;
  background-color: #bdbdbd;
  width: 100%;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border: none;
}